

* {
    box-sizing: border-box;
}

body {
    font-family: fantasy;
    background: blanchedalmond;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: bisque;
    color: black;
}

main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: 1000px;
    padding: 20px;
    background: whitesmoke;
    text-align: center;
}

h2 {
    margin-top: 0;
}

input[type=radio]:checked + img {
    border: solid 3px black;
    transform: rotateZ(-15deg) rotateX(20deg);
    border-radius: 10px;
}

input {
    display: none;
}




